<template>
  <div class="mention">
    <Loader v-if="isLoading" />
    <div v-else-if="users.length || tasks.length || views.length">
      <DropdownSection
        v-if="users.length"
        title="Users"
        :items="users"
        @select="selectItem"
        :itemSelected="selectedItem"
      />
      <DropdownSection
        v-if="tasks.length"
        title="Tasks"
        :items="tasks"
        @select="selectItem"
        :itemSelected="selectedItem"
      />
      <DropdownSection
        v-if="views.length"
        title="Views"
        :items="views"
        @select="selectItem"
        :itemSelected="selectedItem"
      />
    </div>
    <div v-else class="mention__empty">{{ 'No results' }}</div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { onMounted, PropType } from 'vue';
import { Editor, Range } from '@tiptap/core';
import session from '@/api/session';
import Loader from '@/components/common/Loader.vue';
import { userStore } from '@/store/store';
import { validKeyCodes } from '@/hooks/useMentionItem';
import DropdownSection, { DropdownItem } from '@/components/common/DropdownSection.vue';

type User = {
  id: number;
  full_name: string;
  avatar: string | null;
  color: string;
};

type Task = {
  id: number;
  name: string;
  slug: string;
};

type View = {
  id: number;
  emoji: string;
  icon: string;
  name: string;
  type: string;
  room_id: number;
};

type GlobalItems = {
  users: User[];
  tasks: Task[];
  views: View[];
};

const props = defineProps({
  command: {
    type: Function,
    required: true,
  },
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
  range: {
    type: Object as PropType<Range>,
    required: true,
  },
});

const { userProfile } = userStore();

const transformItems = (items: any[]) => {
  return items.map((item) => ({
    ...item,
    ...((item?.full_name || item?.name) && { name: item?.full_name || item?.name }),
    ...((item?.type || item?.slug) && { description: item?.type || item?.slug }),
    ...(item?.avatar && { avatar: item?.avatar }),
    ...(item?.color && { color: item?.color }),
    ...(item?.icon && { icon: item?.icon }),
    ...(item?.emoji && { emoji: item?.emoji }),
    ...(item?.slug && { isTask: true }),
    ...(item?.type && { isView: true }),
  }));
};

const isLoading = ref(false);
const search = ref('');

const selectedItem = ref<DropdownItem>({});

const getGlobalItems = async () => {
  isLoading.value = true;
  try {
    const response = await session.get<{ data: GlobalItems }>(
      `teams/global-search/${userProfile.teamId}/?query=${search.value}`,
    );
    return response.data;
  } catch (e) {
    console.error(e);
  } finally {
    isLoading.value = false;
  }
};

const items = ref();

const users = computed(() => transformItems(items.value?.users?.slice(0, 3) || []));
const tasks = computed(() => transformItems(items.value?.tasks?.slice(0, 3) || []));
const views = computed(() => transformItems(items.value?.views?.slice(0, 3) || []));

const itemsFormatted = computed(() => {
  return [...users.value, ...tasks.value, ...views.value];
});

onMounted(async () => {
  items.value = await getGlobalItems();
  selectedItem.value = itemsFormatted.value[0];
});

const selectItem = (item: DropdownItem) => {
  props.editor
    ?.chain()
    .focus()
    .deleteRange(props.range)
    .setItemMention({
      id: item.id,
      label: item.name,
      ...(item.isTask && { href: `/${userProfile.teamId}/task/${item.id}?referer=TaskDetails` }),
      ...(item.isView && { href: `/${userProfile.teamId}/rooms/${item.room_id}/views/${item.id}` }),
    })
    .run();
};

const onKeyDown = async (e: KeyboardEvent) => {
  e.preventDefault();
  if (e.key === 'Backspace') {
    if (search.value === '') {
      props.editor?.chain().focus().deleteRange(props.range).run();
      return;
    }
    search.value = search.value.slice(0, search.value.length - 1);
    props.editor
      ?.chain()
      .focus()
      .deleteRange({ from: props.range?.to - 1, to: props.range?.to })
      .run();
    items.value = await getGlobalItems();
    selectedItem.value = itemsFormatted.value[0];
    return;
  }
  if (e.key === 'Enter' && selectedItem.value) selectItem(selectedItem.value);
  if (e.key === 'ArrowDown') {
    let currentItemIndex = itemsFormatted.value.findIndex((item) => item.id === selectedItem.value.id);
    if (currentItemIndex === -1 || currentItemIndex === itemsFormatted.value.length - 1) currentItemIndex = -1;
    selectedItem.value = itemsFormatted.value.find((_, index) => index === currentItemIndex + 1);
  }
  if (e.key === 'ArrowUp') {
    let currentItemIndex = itemsFormatted.value.findIndex((item) => item.id === selectedItem.value.id);
    if (currentItemIndex === 0 || currentItemIndex === -1) currentItemIndex = itemsFormatted.value.length;
    selectedItem.value = itemsFormatted.value.find((_, index) => index === currentItemIndex - 1);
  }

  if (validKeyCodes.includes(e.keyCode)) {
    search.value = search.value + e.key;
    props.editor?.chain().focus().insertContent(e.key).run();
    items.value = await getGlobalItems();
    selectedItem.value = itemsFormatted.value[0];
  }
};

defineExpose({
  onKeyDown,
});
</script>

<style scoped lang="scss">
.mention {
  height: auto;
  max-height: 600px;
  width: 300px;
  overflow-y: auto;
  border-radius: 0.375rem;
  border: 1px solid $color-grey-lighter;
  background-color: $color-default-lighter;
  box-shadow: $box-shadow-light;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &__empty {
    padding: 10px;
    color: #a2a2a2;
  }
}
</style>
