<template>
  <div v-if="items.length > 0" ref="commandListContainer" class="slash-command-list">
    <div
      v-for="(item, index) in items"
      class="slash-command-list__item"
      :class="index === selectedIndex ? 'slash-command-list__item_selected' : ''"
      :key="index"
      @click="selectItem(index)"
    >
      <div class="slash-command-list__icon-wrapper">
        <img :src="getIconPath(item.icon)" :alt="item.icon" class="slash-command-list__icon" />
      </div>
      <div>
        <p class="slash-command-list__title">{{ item.title }}</p>
        <p class="slash-command-list__description">{{ item.description }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType, ref, watch } from 'vue';
import { Editor, Range } from '@tiptap/core';
import { SuggestionItem } from '@/extensions/slashExtension';
import { getIconPath } from '@/utils/IconHelper';

const props = defineProps({
  items: {
    type: Array as PropType<SuggestionItem[]>,
    required: true,
  },
  command: {
    type: Function,
    required: true,
  },
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
  range: {
    type: Object as PropType<Range>,
    required: true,
  },
});

const selectedIndex = ref(0);

const commandListContainer = ref<HTMLDivElement>();

const navigationKeys = ['ArrowUp', 'ArrowDown', 'Enter'];
function onKeyDown(e: KeyboardEvent) {
  if (navigationKeys.includes(e.key)) {
    e.preventDefault();
    if (e.key === 'ArrowUp') {
      selectedIndex.value = (selectedIndex.value + props.items.length - 1) % props.items.length;
      scrollToSelected();
      return true;
    }
    if (e.key === 'ArrowDown') {
      selectedIndex.value = (selectedIndex.value + 1) % props.items.length;

      scrollToSelected();
      return true;
    }
    if (e.key === 'Enter') {
      selectItem(selectedIndex.value);
      return true;
    }
    return false;
  }
}

watch(
  () => props.items,
  () => {
    selectedIndex.value = 0;
  },
);

defineExpose({
  onKeyDown,
});

function selectItem(index: number) {
  const item = props.items[index];
  if (item) {
    props.command(item);
  }
}

function updateScrollView(container: HTMLElement, item: HTMLElement) {
  const containerHeight = container.offsetHeight;
  const itemHeight = item ? item.offsetHeight : 0;

  const top = item.offsetTop;
  const bottom = top + itemHeight;

  if (top < container.scrollTop) {
    container.scrollTop -= container.scrollTop - top + 5;
  } else if (bottom > containerHeight + container.scrollTop) {
    container.scrollTop += bottom - containerHeight - container.scrollTop + 5;
  }
}

function scrollToSelected() {
  const container = commandListContainer.value;
  const item = container?.children[selectedIndex.value] as HTMLElement;

  if (container && item) {
    updateScrollView(container, item);
  }
}
</script>

<style lang="scss" scoped>
.slash-command-list {
  height: auto;
  max-height: 320px;
  width: 270px;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid $color-grey-lighter;
  background-color: $color-default-lighter;
  box-shadow: $box-shadow;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    font-size: $size-xs;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &_selected {
      background-color: $color-grey-lightest;
    }
  }

  &__icon-wrapper {
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__title {
    font-weight: $weight-medium;
  }

  &__description {
    font-size: $size-xxs;
    color: $color-grey;
  }
}
</style>
