<template>
  <Tippy
    v-model:isShow="isShowForm"
    trigger="manual"
    :isInteractive="true"
    :hasOverflow="true"
    placement="bottom"
    class="color-selector"
    @hide="hidePopup"
  >
    <template #trigger>
      <div class="color-selector__select-button" @click.stop="togglePopup">
        <img src="@/assets/icons/text.svg" alt="text" />
        <img src="@/assets/icons/chevron-up.svg" alt="chevron" class="color-selector__arrow" />
      </div>
    </template>
    <template #default="{ isShow }">
      <div v-if="isShow" class="color-selector__popup">
        <div class="color-selector__popup-title">Color</div>
        <div
          v-for="(textColor, index) in TEXT_COLORS"
          :key="index"
          class="color-selector__popup-item"
          @click.stop="selectColor(textColor)"
        >
          <div class="color-selector__item-wrapper">
            <div class="color-selector__item-icon" :style="{ color: textColor.color }">A</div>
            <span>{{ textColor.name }}</span>
          </div>
          <img
            v-if="isActiveColor(textColor)"
            src="@/assets/icons/choice.svg"
            alt="choice"
            class="color-selector__check-icon"
          />
        </div>
        <div class="color-selector__popup-title">Background</div>
        <div
          v-for="(highlightColor, index) in HIGHLIGHT_COLORS"
          :key="index"
          @click.stop="selectHighLight(highlightColor)"
          class="color-selector__popup-item"
        >
          <div class="color-selector__item-wrapper">
            <div class="color-selector__item-icon" :style="{ backgroundColor: highlightColor.color }">A</div>
            <span>{{ highlightColor.name }}</span>
          </div>
          <img
            v-if="isActiveHighlight(highlightColor)"
            src="@/assets/icons/choice.svg"
            alt="choice"
            class="color-selector__check-icon"
          />
        </div>
      </div>
    </template>
  </Tippy>
</template>

<script setup lang="ts">
import { Editor } from '@tiptap/core';
import { PropType, ref } from 'vue';
import { HIGHLIGHT_COLORS, TEXT_COLORS } from '@/constants/colorSelector';
import Tippy from '@/components/common/Tippy.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const isShowForm = ref(false);
const togglePopup = () => {
  isShowForm.value = !isShowForm.value;
};

const hidePopup = () => {
  isShowForm.value = false;
};

const isActiveColor = (item: (typeof TEXT_COLORS)[number]) => {
  return props.editor.isActive('textStyle')
    ? props.editor.isActive('textStyle', { color: item.color })
    : item.color === '#171e3a';
};

const isActiveHighlight = (item: (typeof HIGHLIGHT_COLORS)[number]) => {
  return props.editor.isActive('highlight')
    ? props.editor.isActive('highlight', { color: item.color })
    : item.color === '#ffffff';
};

const selectColor = (item: (typeof TEXT_COLORS)[number]) => {
  props.editor.commands.unsetColor();
  item.name !== 'Default' &&
    props.editor
      .chain()
      .focus()
      .setColor(item.color || '')
      .run();
};

const selectHighLight = (item: (typeof HIGHLIGHT_COLORS)[number]) => {
  props.editor.commands.unsetHighlight();
  item.name !== 'Default' && props.editor.commands.setHighlight({ color: item.color });
};
</script>

<style scoped lang="scss">
.color-selector {
  position: relative;

  &__select-button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.8rem 1.2rem;
    font-weight: 500;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;
    border-left: 1px solid $color-grey-lighter;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__arrow {
    width: 1rem;
    height: 1rem;
    margin-left: 8px;
    transform: rotate(180deg);
  }

  &__popup {
    //max-height: 200px;
    width: 160px;
    border-radius: 4px;
    border: 1px solid $color-grey-lighter;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: $box-shadow-light;
  }

  &__popup-title {
    margin: 8px;
    font-size: $size-xs;
    color: $color-grey;
  }

  &__popup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-lightest;
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
  }

  &__item-icon {
    padding: 1px 0.4rem;
    font-weight: 500;
    margin-right: 12px;
    border-radius: 0.125rem;
    border: 1px solid $color-grey-lighter;
  }

  &__check-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}
</style>
