<template>
  <div class="link-selector">
    <div class="link-selector__button" @click.stop="toggleForm">
      <img src="@/assets/icons/link.svg" alt="link" class="link-selector__arrow" />
      <span
        class="link-selector__label-link"
        :class="{ 'link-selector__label-link_selected': editor.isActive('link') }"
      >
        Link
      </span>
    </div>

    <div v-if="isShowForm" class="link-selector__form">
      <input
        ref="inputRef"
        type="text"
        placeholder="Paste a link"
        class="link-selector__form-input"
        v-model="inputValue"
        @keydown.enter.prevent="setLink"
      />
      <div v-if="editor.getAttributes('link').href" class="link-selector__button-trash" @click.stop="unsetLink">
        <img src="@/assets/icons/delete.svg" alt="delete" />
      </div>
      <div v-else class="link-selector__button-check" @click.stop="setLink">
        <img src="@/assets/icons/choice.svg" alt="choice" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Editor } from '@tiptap/core';
import { PropType, ref } from 'vue';
import { getUrlFromString } from '@/utils/checkUrlHelper';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const isShowForm = ref(false);
const inputRef = ref<HTMLElement | null>(null);
const inputValue = ref(props.editor?.getAttributes('link').href || '');

const setLink = () => {
  const url = getUrlFromString(inputValue.value);
  url && props.editor?.chain().focus().extendMarkRange('link').setLink({ href: url }).run();
  isShowForm.value = !isShowForm.value;
};

const toggleForm = async () => {
  isShowForm.value = !isShowForm.value;
  if (isShowForm.value) {
    setTimeout(() => inputRef.value?.focus(), 0);
  }
};

const hidePopup = () => {
  isShowForm.value = false;
};

const unsetLink = () => {
  props.editor?.chain().focus().extendMarkRange('link').unsetLink().run();
  hidePopup();
  inputValue.value = props.editor?.getAttributes('link').href || '';
};
</script>

<style scoped lang="scss">
.link-selector {
  position: relative;

  &__button {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0.8rem 1.2rem;
    font-size: $size-xs;
    border-right: 1px solid $color-grey-lighter;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__arrow {
    font-size: 1rem;
  }

  &__label-link {
    margin-left: 10px;
    &_selected {
      color: $color-primary;
    }
  }

  &__form {
    position: absolute;
    top: 34px;
    display: flex;
    border-radius: 4px;
    border: 1px solid $color-grey-lighter;
    background-color: $color-default-lighter;
    padding: 4px;
    box-shadow: $box-shadow-light;
  }

  &__form-input {
    flex: 1;
    padding: 4px;
    font-size: $size-xs;

    &::placeholder {
      color: $color-grey-light;
    }
  }

  &__button-trash {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    color: rgba(232, 109, 109, 0.99);
    transition: all 0.3s ease;
    border-radius: 0.125rem;

    &:hover {
      background-color: #ffebeb;
    }
  }

  &__button-check {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    transition: all 0.3s ease;
    border-radius: 0.125rem;
    color: $color-grey-darkest;

    &:hover {
      background-color: $color-grey-lightest;
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}
</style>
