<template>
  <Select :items="items" :itemSelected="activeItem" @select="selectItem" />
</template>

<script setup lang="ts">
import { Editor } from '@tiptap/core';
import { PropType, computed } from 'vue';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const activeItem = computed(
  () =>
    items.filter((item) => item.isActive()).pop() ?? {
      name: 'Multiple',
    },
);

const selectItem = (item: any) => {
  item.command();
};

const items = [
  {
    name: 'Text',
    icon: 'text',
    command: () => props.editor.chain().focus().toggleNode('paragraph', 'paragraph').run(),
    isActive: () =>
      props.editor.isActive('paragraph') &&
      !props.editor.isActive('bulletList') &&
      !props.editor.isActive('orderedList'),
  },
  {
    name: 'Heading 1',
    icon: 'h-1',
    command: () => props.editor.chain().focus().toggleHeading({ level: 1 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 1 }),
  },
  {
    name: 'Heading 2',
    icon: 'h-2',
    command: () => props.editor.chain().focus().toggleHeading({ level: 2 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 2 }),
  },
  {
    name: 'Heading 3',
    icon: 'h-3',
    command: () => props.editor.chain().focus().toggleHeading({ level: 3 }).run(),
    isActive: () => props.editor.isActive('heading', { level: 3 }),
  },
  {
    name: 'To-do List',
    icon: 'checklist',
    command: () => props.editor.chain().focus().toggleTaskList().run(),
    isActive: () => props.editor.isActive('taskItem'),
  },
  {
    name: 'Bullet List',
    icon: 'list-unordered',
    command: () => props.editor.chain().focus().toggleBulletList().run(),
    isActive: () => props.editor.isActive('bulletList'),
  },
  {
    name: 'Numbered List',
    icon: 'list-ordered',
    command: () => props.editor.chain().focus().toggleOrderedList().run(),
    isActive: () => props.editor.isActive('orderedList'),
  },
  {
    name: 'Quote',
    icon: 'quote-text',
    command: () => props.editor.chain().focus().toggleNode('paragraph', 'paragraph').toggleBlockquote().run(),
    isActive: () => props.editor.isActive('blockquote'),
  },
  {
    name: 'Code',
    icon: 'code',
    command: () => props.editor.chain().focus().toggleCodeBlock().run(),
    isActive: () => props.editor.isActive('codeBlock'),
  },
];
</script>
