<template>
  <div class="text-bubble-menu">
    <NodeSelector :editor="editor" />
    <LinkSelector :editor="editor" />
    <div class="text-bubble-menu__list">
      <div
        v-for="item in items"
        :key="item.name"
        @click.stop="item.command()"
        class="text-bubble-menu__item"
        :class="{ 'text-bubble-menu__item_selected': item.isActive() }"
      >
        <img :src="getIconPath(item.icon)" :alt="item.icon" class="text-bubble-menu__item-icon" />
      </div>
    </div>
    <ColorSelector :editor="editor" />
  </div>
</template>

<script setup lang="ts">
import { getIconPath } from '@/utils/IconHelper';
import NodeSelector from './NodeSelector.vue';
import ColorSelector from './ColorSelector.vue';
import LinkSelector from './LinkSelector.vue';
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const items = [
  {
    name: 'bold',
    isActive: () => props.editor.isActive('bold'),
    command: () => props.editor.chain().focus().toggleBold().run(),
    icon: 'bold',
  },
  {
    name: 'italic',
    isActive: () => props.editor.isActive('italic'),
    command: () => props.editor.chain().focus().toggleItalic().run(),
    icon: 'italic',
  },
  {
    name: 'underline',
    isActive: () => props.editor.isActive('underline'),
    command: () => props.editor.chain().focus().toggleUnderline().run(),
    icon: 'underline',
  },
  {
    name: 'strike',
    isActive: () => props.editor.isActive('strike'),
    command: () => props.editor.chain().focus().toggleStrike().run(),
    icon: 'strike',
  },
  {
    name: 'code',
    isActive: () => props.editor.isActive('code'),
    command: () => props.editor.chain().focus().toggleCode().run(),
    icon: 'code',
  },
];
</script>

<style scoped lang="scss">
.text-bubble-menu {
  display: flex;
  align-items: center;

  &__list {
    margin: 0 6px;
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;
    padding: 0.5rem 0.5rem;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }

    &_selected {
      background-color: $color-grey-lightest;
    }
  }

  &__item-icon {
    width: 16px;
    height: 16px;
  }
}
</style>
