<template>
  <NodeViewWrapper class="callout">
    <span class="callout__icon">{{ node.attrs.icon }}</span>
    <NodeViewContent class="callout__text" />
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { nodeViewProps, NodeViewWrapper, NodeViewContent } from '@tiptap/vue-3';

const props = defineProps({
  ...nodeViewProps,
});
</script>

<style scoped lang="scss">
.callout {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $color-grey-lighter;
  background: $color-grey-lightest;
  box-shadow: $box-shadow-light;
  margin: 10px 0;

  &__icon {
    padding: 8px;
  }

  &__text {
    padding: 8px;
    margin: 0;
    width: 100%;
    outline: none;
  }
}
</style>
