<template>
  <div class="editor">
    <BubbleMenu v-if="editor" :editor="editor" />
    <EditorContent :editor="editor" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import { EditorContent, JSONContent, useEditor } from '@tiptap/vue-3';
import { Editor } from '@tiptap/core';

import { defaultExtensions } from '@/extensions';
import BubbleMenu from './BubbleMenu/BubbleMenu.vue';
import debounce from '@/utils/debounce';
import { generateJSON } from '@tiptap/core';
import { userStore } from '@/store/store';

const props = defineProps({
  description: {
    type: String,
    required: true,
  },
  userToken: {
    type: String,
    required: true,
  },
  userId: {
    type: Number,
    required: true,
  },
  taskId: {
    type: Number,
    required: true,
  },
  teamId: {
    number: Number,
    required: true,
  },
});

const { setData } = userStore();

onMounted(() => {
  setData({ id: props.userId, token: props.userToken, taskId: props.taskId, teamId: props.teamId });
});

const content = ref<JSONContent>(() => {});

watch(
  () => props.description,
  () => {
    content.value = generateJSON(props.description, [...defaultExtensions]);
    editor.value?.commands.setContent(content.value);
  },
);

const debouncedUpdate = debounce(({ editor }: { editor: Editor }) => {
  content.value = editor.getJSON();
}, 1000);

const editor = useEditor({
  extensions: defaultExtensions,
  editorProps: {
    handleDOMEvents: {
      keydown: (_view, event) => {
        if (['ArrowUp', 'ArrowDown', 'Enter'].includes(event.key)) {
          const slashCommand = document.querySelector('#slash-command');
          if (slashCommand) {
            return true;
          }
        }
      },
    },
  },
  content: content.value,
  onUpdate: (e) => {
    debouncedUpdate(e);
  },
  autofocus: 'end',
});

defineExpose({
  editor,
});
</script>

<style scoped lang="scss">
.editor {
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  border: 1px solid $color-grey-lighter;
  background-color: $color-default-lighter;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
}
</style>
