<template>
  <NodeViewWrapper class="file-upload">
    <img src="@/assets/icons/attachment.svg" alt="attachment" class="file-upload__icon" />
    <span class="file-upload__title">{{ node.attrs.file.name }}</span>
    <span class="file-upload__size">{{ node.attrs.file.size + 'KB' }}</span>
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { nodeViewProps, NodeViewWrapper } from '@tiptap/vue-3';

const props = defineProps({
  ...nodeViewProps,
});
</script>

<style scoped lang="scss">
.file-upload {
  width: 100%;
  height: 40px;
  padding: 6px 20px;
  background-color: $color-grey-lightest;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  &__icon {
    margin-top: 0;
    margin-bottom: 0;
    width: 20px;
    margin-right: 10px;
  }

  &__title {
    text-decoration: underline;
  }

  &__size {
    color: $color-grey-light;
    margin-left: 10px;
  }
}
</style>
