<template>
  <NodeViewWrapper class="hidden-text">
    <div class="hidden-text__wrapper" @click.stop="toggleContent">
      <img
        src="@/assets/icons/chevron-up.svg"
        alt="chevron"
        class="hidden-text__icon"
        :contenteditable="false"
        :class="classReversed"
      />
      <input
        v-model="title"
        type="text"
        class="hidden-text__input"
        placeholder="Заголовок скрытого текст..."
        @keydown.enter.prevent="updateTitle"
        @click.stop="setFocus"
        ref="titleRef"
      />
    </div>
    <NodeViewContent v-show="isShowContent" class="hidden-text__content" />
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { NodeViewContent, nodeViewProps, NodeViewWrapper } from '@tiptap/vue-3';
import { computed, ref, onMounted } from 'vue';

const props = defineProps({
  ...nodeViewProps,
});

const title = ref(props.node.attrs.title);
const titleRef = ref<HTMLElement>();

const setFocus = () => titleRef.value?.focus();
onMounted(() => setTimeout(() => setFocus(), 0));

const isShowContent = ref(false);

const toggleContent = () => {
  isShowContent.value = !isShowContent.value;
  if (isShowContent.value) {
    props.editor.chain().focus().run();
  }
};

const updateTitle = () => {
  props.updateAttributes({ title: title.value });
  toggleContent();
};

const classReversed = computed(() => isShowContent.value && 'hidden-text__icon_reversed');
</script>

<style scoped lang="scss">
.hidden-text {
  background-color: $color-grey-lightest;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &__wrapper {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  &__icon {
    width: 1.2rem;
    margin: 0 8px 0 0;
    transform: rotate(90deg);

    &_reversed {
      transform: rotate(180deg);
    }
  }

  &__content {
    margin-top: 8px;
    margin-left: 24px;
    min-height: 36px;
    padding: 8px;
    background-color: $color-grey-lighter;
    border-radius: 4px;
  }

  &__input {
    background-color: transparent;
    padding-left: 8px;
    width: 100%;

    &::placeholder {
      color: $color-grey-light;
    }
  }
}
</style>
