<template>
  <NodeViewWrapper class="iframe-link">
    <div v-if="node.attrs.src" class="iframe-link__iframe-wrapper">
      <iframe v-bind="node.attrs" class="iframe-link__iframe" />
    </div>
    <div v-else class="iframe-link__add-container">
      <img src="@/assets/icons/embeded.svg" alt="embeded" class="iframe-link__icon" />
      <input
        v-model="link"
        type="text"
        class="iframe-link__input"
        placeholder="Вставьте ссылку"
        @keydown.enter.prevent="pasteLink"
        @click="setFocus"
        ref="inputRef"
      />
    </div>
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { nodeViewProps, NodeViewWrapper } from '@tiptap/vue-3';
import { onMounted, ref } from 'vue';

const props = defineProps({
  ...nodeViewProps,
});

const link = ref('');

const inputRef = ref<HTMLElement>();

const setFocus = () => {
  inputRef.value?.focus();
};

onMounted(() => {
  setTimeout(() => setFocus(), 100);
});
const pasteLink = () => {
  props.editor.chain().focus().setIframe({ src: link.value }).run();
};
</script>

<style scoped lang="scss">
.iframe-link {
  margin: 20px 0;

  &__iframe-wrapper {
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-radius: 4px;
    border: 1px solid $color-grey-lighter;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__add-container {
    display: flex;
    align-items: center;
    background-color: #f4f4f5;
    border-radius: 4px;
  }

  &__icon {
    width: 2rem;
    height: 1.7rem;
    margin: 0 8px;
  }

  &__input {
    background-color: transparent;
    padding: 8px;

    &::placeholder {
      color: $color-grey-light;
    }
  }
}
</style>
