<template>
  <NodeViewWrapper as="span" class="mention-item">
    <a v-if="isLink" :href="node.attrs.href" target="_blank">{{ node.attrs.label }}</a>
    <span v-else :class="classCurrentUser">{{ node.attrs.label }}</span>
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { NodeViewWrapper, nodeViewProps } from '@tiptap/vue-3';
import { computed } from 'vue';
import { userStore } from '@/store/store';

const props = defineProps({
  ...nodeViewProps,
});

const { userProfile } = userStore();

const isLink = computed(() => props.node.attrs.href);
const classCurrentUser = computed(() => Number(props.node.attrs.id) === userProfile.id && 'mention-item_current');
</script>

<style scoped lang="scss">
.mention-item {
  color: #a18aff;

  &_current {
    color: white;
    background-color: $task-priority-important;
    padding: 0 2px;
    margin: 0 2px;
    border-radius: 4px;
  }
}
</style>
