<template>
  <NodeViewWrapper class="resize" :style="styleAlign">
    <figure class="resize__image-container">
      <div class="resize__image-wrapper">
        <img v-bind="node.attrs" ref="resizableImg" class="resize__image" />
        <div v-if="isShowLines" class="resize__line resize__line_right" @mousedown="handleResize($event, 'right')" />
        <div v-if="isShowLines" class="resize__line resize__line_left" @mousedown="handleResize($event, 'left')" />
        <div v-if="isShowLines" class="resize__line resize__line_top" @mousedown="handleResize($event, 'top')" />
        <div v-if="isShowLines" class="resize__line resize__line_bottom" @mousedown="handleResize($event, 'bottom')" />
      </div>
      <input
        v-if="node.attrs.isFigcaption"
        v-model="figcaption"
        @blur="changeFigcaption"
        ref="inputRef"
        class="resize__input"
        @click.stop
        placeholder="Введите подпись"
        @keydown.enter="changeFigcaption"
      />
      <figcaption v-if="node.attrs.figcaption && !node.attrs.isFigcaption" @click="showFigcaption">
        {{ node.attrs.figcaption }}
      </figcaption>
    </figure>
  </NodeViewWrapper>
</template>

<script setup lang="ts">
import { ref, watch, computed } from 'vue';
import { NodeViewWrapper, nodeViewProps } from '@tiptap/vue-3';

const props = defineProps({
  ...nodeViewProps,
});

const resizableImg = ref<HTMLElement>();
const inputRef = ref<HTMLElement>();

const figcaption = ref('');

watch(
  () => props.node.attrs.isFigcaption,
  () => {
    if (props.node.attrs.isFigcaption) {
      setTimeout(() => {
        inputRef.value?.focus();
      }, 100);
    }
  },
);

const isShowLines = ref(false);

watch(
  () => props.selected,
  () => {
    isShowLines.value = !!props.selected;
  },
);

const styleAlign = computed(() => {
  switch (props.node.attrs.align) {
    case 'right':
      return 'justify-content: flex-end';
    case 'center':
      return 'justify-content: center';
    case 'left':
    default:
      return 'justify-content: flex-start';
  }
});

const changeFigcaption = () => {
  props.updateAttributes({ figcaption: figcaption.value });
  props.updateAttributes({ isFigcaption: false });
};

const showFigcaption = () => {
  props.updateAttributes({ isFigcaption: true });
};

const handleResize = (event: MouseEvent, code: string) => {
  event.preventDefault();
  const startX = event.clientX;
  const startY = event.clientY;
  const startWidth = parseInt(props.node.attrs.width) || resizableImg.value!.getBoundingClientRect().width;
  const startHeight = resizableImg.value!.getBoundingClientRect().height;
  const handleMouseMove = (moveEvent: MouseEvent) => {
    const currentX = moveEvent.clientX;
    const currentY = moveEvent.clientY;
    const distanceX = currentX - startX;
    const distanceY = currentY - startY;
    let newWidth = startWidth + distanceX;
    let newHeight = startHeight + distanceY;
    const maxWidth = 1024;
    const minWidth = 100;
    const maxHeight = 500;
    const minHeight = 100;
    if (code === 'right') {
      newWidth = Math.min(Math.max(newWidth, minWidth), maxWidth);
    } else if (code === 'bottom') {
      newWidth = Math.min(Math.max(newHeight, minHeight), maxHeight);
    } else if (code === 'left') {
      newWidth = Math.max(startWidth - distanceX, minWidth);
    } else if (code === 'top') {
      newWidth = Math.max(startHeight - distanceY, minHeight);
    }
    resizeImage(newWidth);
  };
  const handleMouseUp = () => {
    document.removeEventListener('mousemove', handleMouseMove);
    document.removeEventListener('mouseup', handleMouseUp);
  };
  document.addEventListener('mousemove', handleMouseMove);
  document.addEventListener('mouseup', handleMouseUp);
};

const resizeImage = (newWidth: number) => {
  const widthComputed = `${newWidth}px`;
  props.updateAttributes({ width: widthComputed });
};
</script>

<style scoped lang="scss">
.resize {
  display: flex;

  &.ProseMirror-selectednode {
    background-color: transparent;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    margin-top: 0;
    margin-bottom: 0;

    &:hover {
      .resize__line-right {
        opacity: 100%;
      }
    }

    &.ProseMirror-selectednode img {
      background-color: transparent;
    }
  }

  &__line {
    position: absolute;
    background-color: #5e79ec;
    background-clip: padding-box;
    padding: 1px;

    &_right,
    &_left {
      height: 100%;
      cursor: col-resize;
      top: 0;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    &_right {
      right: -4px;
    }

    &_left {
      left: -4px;
    }

    &_top,
    &_bottom {
      width: 100%;
      cursor: row-resize;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }

    &_top {
      top: -4px;
    }

    &_bottom {
      bottom: -4px;
    }
  }

  &__input {
    outline: none;
    background-color: transparent;
    width: 200px;
    height: 30px;
    padding: 3px 10px;
    font-size: 14px;
    margin-top: 4px;

    &::placeholder {
      color: grey;
    }
  }
}
</style>
