<template>
  <div v-for="item in items" :key="item.name" @click="item.command()" class="column-bubble-menu__item">
    <img :src="getIconPath(item.icon)" :alt="item.icon" class="bubble-menu__item-icon" />
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import { getIconPath } from '@/utils/IconHelper';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const items = [
  {
    name: 'delete columns',
    command: () => props.editor.chain().focus().unsetColumns().run(),
    icon: 'delete',
  },
];
</script>

<style scoped lang="scss">
.column-bubble-menu {
  &__item {
    padding: 0.5rem;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__item-icon {
    width: 1rem;
    height: 1rem;

    &_selected {
      color: #3b82f6;
    }
  }
}
</style>
