<template>
  <BubbleMenu :editor="editor" class="bubble-menu" :updateDelay="0" :tippyOptions="tippyOptions">
    <ImageBubbleMenu v-if="editor.isActive('image')" :editor="editor" />
    <TableBubbleMenu v-else-if="editor.isActive('table')" :editor="editor" />
    <ColumnBubbleMenu v-else-if="editor.isActive('column')" :editor="editor" />
    <TextBubbleMenu v-else-if="isVisibleTextMenu" :editor="editor" />
  </BubbleMenu>
</template>

<script setup lang="ts">
import { BubbleMenu } from '@tiptap/vue-3';
import { computed, PropType } from 'vue';
import { Editor } from '@tiptap/core';
import TextBubbleMenu from './TextBubbleMenu/TextBubbleMenu.vue';
import ImageBubbleMenu from './ImageBubbleMenu/ImageBubbleMenu.vue';
import TableBubbleMenu from './tableBubbleMenu/TableBubbleMenu.vue';
import ColumnBubbleMenu from './columnBubbleMenu/ColumnBubbleMenu.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const isVisibleTextMenu = computed(
  () =>
    !props.editor?.isActive('iframe') &&
    !props.editor?.isActive('fileUploaded') &&
    !props.editor?.isActive('mentionItem'),
);

const tippyOptions = computed(() => ({
  interactive: true,
  hideOnClick: false,
}));
</script>

<style scoped lang="scss">
.bubble-menu {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  border: 1px solid $color-grey-lighter;
  background-color: $color-default-lighter;
  box-shadow: $box-shadow;
  width: auto;
}
</style>
