.ProseMirror {
  .is-editor-empty:first-child::before,
  .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: $color-grey-light;
    pointer-events: none;
    height: 0;
  }

  img {
    transition: filter 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }

  &:not(.dragging) .ProseMirror-selectednode {
    outline: none !important;
    border-radius: 0.2rem;
    background-color: $color-primary-lighter;
    transition: background-color 0.2s;
    box-shadow: none;
  }

  .column-block {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 30px;
    padding: 8px 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column {
    overflow: auto;
    background-color: $color-matrix-low;
    border-radius: 8px;
    padding: 8px;
    margin: -8px;
  }
}

.img-placeholder {
  position: relative;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 3px solid $color-grey-lighter;
    border-top-color: $color-default-light;
    animation: spinning 0.6s linear infinite;
  }

  @keyframes spinning {
    to {
      transform: rotate(360deg);
    }
  }
}

ul[data-type="taskList"] {
  padding-inline-start: 20px;

  li {
    display: flex;
    align-items: flex-start;
  }

  li > label {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    user-select: none;
    padding-bottom: 1rem;

    @media screen and (max-width: 768px) {
        margin-right: 0.5rem;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: $color-default-lighter;
      border-radius: 3px;
      margin: 0 0.3rem 0 0;
      cursor: pointer;
      width: 1.2em;
      height: 1.2em;
      position: relative;
      top: 0;
      border: 1px solid $color-grey-light;
      display: grid;
      place-content: center;

      &:hover {
        background-color: #FAFAF9;
      }

      &:active {
        background-color: $color-grey-lighter;
      }

      &::before {
        content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 15 10" fill="none"%3E%3Cpath id="Vector 87" d="M1.5 4.5L5.5 8.5L12.5 1.5" stroke="%23ffffff" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
        margin-bottom: 5px;
        margin-left: -1px;
        width: 0.65em;
        height: 0.65em;
        color: white;
      }

      &:checked {
        border-color: $color-primary;
        background-color: $color-primary;
      }
    }
  }

  li > div > p {
    padding: 0;
  }

  li[data-checked="true"] > div > p {
    color: #A8A29E;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: col-resize;
}

.drag-handle {
  position: fixed;
  opacity: 1;
  transition: opacity ease-in 0.2s;
  border-radius: 0.25rem;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(0, 0, 0, 0.5)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7.55228475,8 8,8.44771525 8,9 C8,9.55228475 7.55228475,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: calc(0.5em + 0.375rem) calc(0.5em + 0.375rem);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.2rem;
  height: 1.5rem;
  z-index: 50;
  cursor: grab;

  &:hover {
    background-color: #f4f4f5;
    transition: background-color 0.2s;
  }

  &:active {
    background-color: $color-grey-lighter;
    transition: background-color 0.2s;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 600px) {
    display: none;
    pointer-events: none;
  }
}



