*,
*::before,
*::after {
  box-sizing: border-box;

  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

button {
  padding: 0;

  color: inherit;

  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input {
  border: none;
  outline: none;
  font-size: inherit;
  line-height: inherit;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;

  border: 0;
}

ul,
ol,
dd {
  margin: 0 !important;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: inherit;
  font-size: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;

  border-width: 0;
}

label {
  cursor: inherit;
}

th {
  font-weight: inherit;
}

blockquote {
  margin: 0;
}

* {
  scrollbar-color: $color-grey-lighter;
  scrollbar-width: thin;

  /* width */
  &::-webkit-scrollbar {
    position: absolute;

    width: 10px;
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-lighter;
    border-radius: 5px;

    transition: background-color 0.5s;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-grey-light;
  }
}
