@import '@/assets/fonts/jetbrainsmono/jetbrainsMono.css';

.tiptap {
  h1,
  h2,
  h3,
  h4 {
    font-weight: $weight-semi-bold;

    span,
    a,
    strong {
      font-size: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-weight: $weight-bold;
    font-size: $size-xxxl;
    line-height: 56px;
    padding-bottom: 8px;
  }

  h2 {
    font-weight: $weight-bold;
    font-size: $size-xl;
    line-height: 40px;
    padding-bottom: 8px;
  }

  h3 {
    font-weight: $weight-bold;
    font-size: 2rem;
    line-height: 32px;
    padding-bottom: 8px;
  }

  p {
    padding: 0.5rem 0;
    font-weight: $weight-medium;
    font-size: $size-sm;
    line-height: 25px;
  }

  ul {
    font-weight: $weight-medium;
    font-size: $size-sm;
    line-height: 20px;
    list-style-type: initial;
    padding-inline-start: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ol {
    font-weight: $weight-medium;
    font-size: $size-sm;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
  }

  li {
    line-height: 1.5rem;
    margin-bottom: -0.5rem;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary-darker;
    }
  }

  code {
    border-radius: 4px;
    background-color: $color-grey-lighter;
    padding: 0.375rem;
    font-weight: 400;
    color: $color-default;
    font-family: 'JetBrainsMono', monospace;
  }

  mark {
    padding: 0 2px;
    margin: 0 2px;
    border-radius: 4px;
  }

  td {
    padding: 5px;
    font-weight: $weight-medium;
    font-size: $size-sm;
  }

  blockquote {
    margin: 1rem 0;
    padding-left: 16px;
    border-left: 3px solid #706ee8;
  }

  hr {
    margin: 1.5rem 0 2rem;
    border-top: 1px solid $color-grey-lighter;
  }

  img {
    max-width: 100%;
  }

  .image-uploaded {
    opacity: 0.4;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: $color-grey-lighter;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 1px solid $color-grey-lighter;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: $color-grey-lightest;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: $color-primary-lighter;
      pointer-events: none;
    }

    p {
      margin: 0;
    }
  }

  pre {
    border-radius: 4px;
    background: #0d0d0d;
    color: $color-default-lighter;
    font-family: 'JetBrainsMono', monospace;
    padding: 2rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
    }

    .hljs-comment,
    .hljs-quote {
      color: $color-default-light;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}