@import '@/assets/fonts/inter/inter.css';
@import '@/assets/fonts/roboto/roboto.css';
@import '@/assets/fonts/jetbrainsmono/jetbrainsMono.css';

html {
  font-size: 62.5%; // for using REM units. 1rem = 10px
}

body {
  color: $color-default;
  font-weight: $weight-normal;
  font-size: $size-sm;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'JetBrainsMono',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%;
}
