// colors
$color-default: #171e3a;
$color-default-light: #4d5060;
$color-default-lighter: #ffffff;

$color-primary: #5e79ec;
$color-primary-dark: #3a5be8;
$color-primary-darker: #3053e7;
$color-primary-light: #b7c3f7;
$color-primary-lighter: #e3e8fc;
$color-primary-lightest: #f6f8fe;

$color-grey: #888ca0;
$color-grey-dark: #7e8194;
$color-grey-darker: #71768e;
$color-grey-darkest: #6c7083;
$color-grey-light: #acaeb9;
$color-grey-lighter: #e4e5e7;
$color-grey-lightest: #f4f4f5;

$color-error: #f47373;
$color-error-dark: #f5625d;
$color-error-darker: #e44945;
$color-error-light: #f79999;
$color-error-lighter: #feeeef;

$color-success: #94d988;
$color-success-dark: #51c84e;
$color-success-darker: #0caa12;
$color-success-light: #dff4dd;
$color-success-lighter: #f3fff2;

$color-favorite: #ffbf5f;

$color-overlay: transparentize($color-default, 0.4);
$color-overlay-image: transparentize($color-default, 0.2);

$color-billing: #a880ff;

$task-priority-critical: #ff6a6a;
$task-priority-important: #a18aff;
$task-priority-quick: #ffd15c;
$task-priority-low: $color-grey-lighter;

$color-matrix-critical: #fff6f6;
$color-matrix-important: #f7f5ff;
$color-matrix-quick: #fffbf2;
$color-matrix-low: #f8f8f8;

$color-activity-task-bg: transparentize($color-favorite, 0.8);
$color-button-secondary-hover: #d3dafa;
$color-button-secondary-active: #c9d2f9;
$color-mark-new-bg: transparentize($task-priority-important, 0.9);
$color-cover-gallery-author-bg: rgba(90, 90, 106, 0.5);

$social-auth: (
        google: #4285f4,
        apple: #000000,
        yandex: #000000,
);

// font sizes
$size-xxxxs: 0.8rem;
$size-xxxs: 1rem;
$size-xxs: 1.2rem;
$size-xs: 1.4rem;
$size-sm: 1.6rem;
$size-md: 1.8rem;
$size-lg: 2.4rem;
$size-xl: 2.8rem;
$size-xxl: 3.2rem;
$size-xxxl: 4rem;
$size-xxxxl: 4.2rem;

// font weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// Screen resolution
// Portrait phones
$screen-xs-max: 575px;
// Landscape phones
$screen-sm: 576px;
$screen-sm-max: 767px;
// Tablets
$screen-md: 768px;
$screen-md-max: 991px;
// Desktops
$screen-lg: 992px;
$screen-lg-max: 1200px;
// Large desktops
$screen-xl: 1201px;
$screen-xl-max: 1440px;
// Larger desktops
$screen-xxl: 1441px;

// The most often used screen size variable
// Used in @media with min-width
//$screen-mobile: $screen-sm-max;

// Shadow
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 1px 6px 0px rgba(0, 0, 0, 0.1);

// Layout sizes
$sidebar-collapsed-width: 63px;
$sidebar-expanded-width: 240px;
$desktop-content-padding: 42px;
$mobile-content-padding: 16px;
