<template>
  <Select :item-selected="activeItem" :items="items" @select="selectItem">
    <template #trigger>
      <img :src="getIconPath(activeItem.icon)" alt="align" class="align-selector__icon" />
    </template>
  </Select>
</template>

<script setup lang="ts">
import { ref, PropType } from 'vue';
import { getIconPath } from '@/utils/IconHelper';
import { Editor } from '@tiptap/core';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const items = [
  {
    name: 'left',
    icon: 'align-left',
    command: () => props.editor?.commands.updateAttributes('image', { align: 'left' }),
  },
  {
    name: 'center',
    icon: 'align-center',
    command: () => props.editor?.commands.updateAttributes('image', { align: 'center' }),
  },
  {
    name: 'right',
    icon: 'align-right',
    command: () => props.editor?.commands.updateAttributes('image', { align: 'right' }),
  },
];

const activeItem = ref(items.find((item) => item.name === props.editor?.getAttributes('image').align));

const selectItem = (item: (typeof items)[number]) => {
  activeItem.value = item;
  item.command();
};
</script>

<style scoped lang="scss">
.align-selector {
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
</style>
