<template>
  <div class="bubble-menu__list">
    <AlignSelector :editor="editor" />
    <div v-for="item in items" :key="item.name" @click.stop="item.command()" class="bubble-menu__item">
      <img :src="getIconPath(item.icon)" :alt="item.icon" class="bubble-menu__item-icon" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import { getIconPath } from '@/utils/IconHelper';
import AlignSelector from './AlignSelector.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const items = [
  {
    name: 'viewer',
    command: () => {
      console.log('open viewer');
    },
    icon: 'fullscreen-line',
  },
  {
    name: 'figcaption',
    command: () => {
      props.editor?.commands.updateAttributes('image', { isFigcaption: true });
    },
    icon: 'image',
  },
  {
    name: 'delete',
    command: () => props.editor.commands.deleteSelection(),
    icon: 'delete',
  },
];
</script>

<style scoped lang="scss">
.bubble-menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__item-icon {
    width: 1.5rem;
    height: 1.5rem;

    &_selected {
      color: #3b82f6;
    }
  }
}
</style>
