@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 100;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Thin.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 100;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-ThinItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 200;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraLight.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 200;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 300;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Light.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 300;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 400;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 400;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 500;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Medium.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 500;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 600;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 600;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 700;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 700;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style:  normal;
    font-weight: 800;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: 'JetBrainsMono';
    font-style:  italic;
    font-weight: 800;
    src: url("@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
}