<template>
  <Editor :description="description" :userId="id" :userToken="token" :taskId="taskId" :teamId="teamId" />
</template>

<script setup lang="ts">
import Editor from './components/Editor.vue';
import { ref, onMounted } from 'vue';
import session from '@/api/session';
import { parseHTMLtoValidData } from '@/utils/parseHTMLtoValidData';

const description = ref();

const { id, token, taskId, teamId } = {
  id: 35,
  token: 'Token 63d8fa4a7777dcc0bc152c3807b58f440cbea90b0ab1f3207f22a6a2ac06eed7',
  taskId: 4860,
  teamId: 38,
};

const getTask = async () => {
  try {
    const response = await session.get(`https://dev.my.shtab.app/api/tasks/detail/${taskId}/?team=${teamId}`);
    return response.data;
  } catch (e) {
    console.error(e);
  }
};

onMounted(async () => {
  const task = await getTask();
  description.value = parseHTMLtoValidData(task.description);
});
</script>

<style lang="scss">
@import 'styles/styles';
</style>
