<template>
  <div class="avatar" :style="styles" @click="handleClick">
    <img v-if="image" :src="image" class="avatar__image" alt="avatar" />

    <div v-else class="avatar__no-image">
      {{ firstLetter }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  image: {
    type: String,
    default: null,
  },
  colorBg: {
    type: String,
    default: 'purple',
  },
  colorText: {
    type: String,
    default: 'white',
  },
});

const emit = defineEmits(['click']);

const firstLetter = computed(() => props.name[0]);

const styles = computed(() => ({
  backgroundColor: !props.image && props.colorBg,
  color: props.colorText,
}));

const handleClick = () => {
  emit('click');
};
</script>

<style lang="scss" scoped>
.avatar {
  position: relative;

  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;

  font-size: $size-xxs;

  color: $color-default-lighter;
  text-transform: uppercase;

  border-radius: 50%;

  &__image {
    -webkit-user-drag: none;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
  }

  &__no-image {
    line-height: 1px;
  }
}
</style>
