<template>
  <div class="dropdown-item" :class="{ 'dropdown-item_selected': item.id === itemSelected.id }">
    <Avatar v-if="item.avatar || item.color" :image="item.avatar" :colorBg="item.color" :name="item.name" />
    <img v-else-if="item.icon" :src="getIconPath(item.icon)" :alt="item.icon" class="dropdown-item__icon" />
    <div v-else-if="item.emoji" class="dropdown-item__emoji">{{ item.emoji }}</div>
    <img v-else src="@/assets/icons/task.svg" alt="task" class="dropdown-item__icon" />
    <div class="dropdown-item__wrapper">
      <div>{{ item.name }}</div>
      <div v-if="item.description" class="dropdown-item__description">{{ item.description }}</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import Avatar from '@/components/common/Avatar.vue';
import { getIconPath } from '@/utils/IconHelper';
import { DropdownItem } from '@/components/common/DropdownSection.vue';

const props = defineProps({
  item: {
    type: Object as PropType<DropdownItem>,
    required: true,
  },
  itemSelected: {
    type: Object as PropType<DropdownItem>,
    required: true,
  },
});
</script>

<style scoped lang="scss">
.dropdown-item {
  padding: 4px 8px;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;

  &:hover {
    background-color: $color-grey-lightest;
  }

  &_selected {
    background-color: $color-grey-lightest;
  }

  &__icon-item {
    flex-shrink: 0;
  }

  &__emoji {
    width: 24px;
  }

  &__wrapper {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
  }

  &__description {
    color: $color-grey;
    margin-top: 4px;
    font-size: $size-xxs;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin: 4px;
  }
}
</style>
