<template>
  <div class="dropdown-section">
    <div v-if="title" class="dropdown-section__title">{{ title }}</div>
    <DropdownItem
      v-for="item of items"
      :key="item.id"
      :item="item"
      @click="selectItem(item)"
      :itemSelected="itemSelected"
    />
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import DropdownItem from './DropdownItem.vue';

export type DropdownItem = {
  id: number;
  name: string;
  description: string;
  avatar?: string;
  emoji?: string;
  icon?: string;
  color?: string;
};

const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  items: {
    type: Array as PropType<DropdownItem[]>,
    required: true,
  },
  itemSelected: {
    type: Object as PropType<DropdownItem>,
    required: true,
  },
});

const emit = defineEmits(['select']);

const selectItem = (item: DropdownItem) => {
  emit('select', item);
};
</script>

<style scoped lang="scss">
.dropdown-section {
  border-bottom: 1px solid $color-grey-lighter;

  &__title {
    font-size: $size-sm;
    font-weight: $weight-semi-bold;
    text-transform: uppercase;
    margin: 8px 8px;
  }
}
</style>
