<template>
  <Tippy
    v-model:isShow="isShowForm"
    trigger="manual"
    :isInteractive="true"
    :hasOverflow="true"
    placement="bottom"
    class="select"
    @hide="hidePopup"
  >
    <template #trigger>
      <div class="select__trigger" @click.stop="togglePopup">
        <slot name="trigger">
          {{ itemSelected?.name }}
        </slot>
        <img
          v-if="isArrow"
          src="@/assets/icons/chevron-up.svg"
          alt="chevron"
          class="select__arrow"
          :class="classReversed"
        />
      </div>
    </template>
    <template #default="{ isShow }">
      <slot name="default">
        <div v-if="isShow" class="select__list">
          <div
            v-for="(item, index) in items"
            :key="index"
            class="select__item"
            @click.stop="select(item)"
            :class="classDisabled(item?.disabled && item?.disabled())"
          >
            <div class="select__item-wrapper">
              <div class="select__icon-wrapper">
                <img :src="getIconPath(item.icon)" :alt="item.icon" class="select__icon" />
              </div>
              <span>{{ item.name }}</span>
            </div>
            <img
              v-if="isShowSelectedIcon && itemSelected?.name === item.name"
              src="@/assets/icons/choice.svg"
              alt="choice"
              class="select__item-check"
            />
          </div>
        </div>
      </slot>
    </template>
  </Tippy>
</template>

<script setup lang="ts">
import Tippy from '@/components/common/Tippy.vue';
import { computed, PropType, ref } from 'vue';
import { getIconPath } from '@/utils/IconHelper';

type ItemSelected = {
  id?: number;
  name: string;
  icon: string;
  disabled?: () => boolean;
};

const props = defineProps({
  isArrow: {
    type: Boolean,
    default: true,
  },
  items: {
    type: Array as PropType<ItemSelected[]>,
    required: true,
  },
  itemSelected: {
    type: Object,
    default: () => ({}),
  },
  isShowSelectedIcon: {
    type: Boolean,
    default: true,
  },
});

const emit = defineEmits(['select']);

const isShowForm = ref(false);
const togglePopup = () => {
  isShowForm.value = !isShowForm.value;
};

const hidePopup = () => {
  isShowForm.value = false;
};

const select = (item: ItemSelected) => {
  emit('select', item);
  hidePopup();
};

const classReversed = computed(() => isShowForm.value && 'select__arrow_reversed');
const classDisabled = (isDisabled: boolean) => isDisabled && 'select__item_disabled';
</script>

<style scoped lang="scss">
.select {
  &__trigger {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    height: 100%;
    font-size: $size-xs;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    border-right: 1px solid $color-grey-lighter;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__arrow {
    width: 1rem;
    height: 1rem;
    transform: rotate(180deg);
    margin-left: 8px;

    &_reversed {
      transform: rotate(0);
    }
  }

  &__list {
    background-color: $color-default-lighter;
    border: 1px solid $color-grey-lighter;
    border-radius: 4px;
    box-shadow: $box-shadow-light;
    min-width: 150px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &_disabled {
      cursor: default;
      color: $color-grey-light;
      background-color: $color-grey-lightest;
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__item-check {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 8px;
  }
}
</style>
