<template>
  <TippyComponent
    ref="tippy"
    tag="div"
    v-bind="$attrs"
    :onShow="showHandler"
    :onHide="hideHandler"
    :onHidden="hiddenHandler"
    maxWidth="auto"
    :popperOptions="popperOptions"
    :theme="theme"
    :interactive="isInteractive"
    :hideOnClick="isHideOnClickOutside"
    :trigger="trigger"
    :appendTo="appendTo"
    class="tippy"
  >
    <template #default="{ state, show, hide }">
      <slot name="trigger" :isShow="state.isVisible" :show="show" />
    </template>

    <template #content="{ state }">
      <div @click="clickInsideHandler" class="content" ref="content">
        <slot :isShow="state.isVisible" />
      </div>
    </template>
  </TippyComponent>
</template>

<script setup lang="ts">
import { Tippy as TippyComponent, TippyComponent as TippyComponentRef } from 'vue-tippy';
import { computed, onBeforeUnmount, onMounted, ref, useAttrs, watch } from 'vue';

const popperOptionsForOverflow = {
  modifiers: [
    {
      name: 'preventOverflow',
    },
  ],
};

const defaultPopperOptions = {
  modifiers: [
    {
      name: 'computeStyle',
      options: {
        gpuAcceleration: false,
      },
    },
  ],
};

const props = defineProps({
  theme: {
    type: String,
    default: 'custom',
  },
  trigger: {
    type: String,
    default: 'mouseenter',
  },
  timeout: {
    type: Number,
  },
  isDisabled: {
    type: Boolean,
    default: false,
  },
  isInteractive: {
    type: Boolean,
    default: false,
  },
  isShow: {
    type: Boolean,
  },
  isHideOnClickInside: {
    type: Boolean,
    default: true,
  },
  isHideOnClickOutside: {
    type: Boolean,
    default: true,
  },
  hasOverflow: {
    type: Boolean,
    default: false,
  },
  hideOnRightClick: {
    type: Boolean,
    default: true,
  },
});

const emit = defineEmits(['show', 'hide', 'hidden', 'update:isShow']);

const attrs: any = useAttrs();

const overflowPopperOptions = computed(() => (props.hasOverflow ? popperOptionsForOverflow.modifiers : []));
const popperOptions = computed(() => ({
  modifiers: [...overflowPopperOptions.value, ...defaultPopperOptions.modifiers],
  ...attrs.value?.popperOptions,
}));

const tippy = ref<TippyComponentRef>();

const show = () => tippy.value?.tippy?.show();
const hide = () => tippy.value?.tippy?.hide();
const appendTo = () => document.body;

watch(
  () => props.isDisabled,
  () => {
    if (props.isDisabled) {
      hide();
      tippy.value?.tippy?.disable();
    } else {
      tippy.value?.tippy?.enable();
    }
  },
);

watch(
  () => props.isShow,
  (value) => {
    const isManualMode = props.trigger === 'manual';
    if (isManualMode) {
      value ? show() : hide();
    }
  },
  { immediate: true },
);

const hideAfterTimeout = () => {
  if (props.timeout) {
    setTimeout(hide, props.timeout);
  }
};

const showHandler = () => {
  emit('show');
  hideAfterTimeout();
};

const hideHandler = (instance: any) => {
  emit('hide', instance);
  emit('update:isShow', false);
};
const hiddenHandler = () => {
  emit('hidden');
};

const clickInsideHandler = () => {
  if (props.isHideOnClickInside) {
    hide();
  }
};

const resizeObserver = ref();
const content = ref<HTMLElement>();

const updateWhenChangeRefSize = () => {
  resizeObserver.value = new ResizeObserver(() => {
    tippy.value?.tippy?.popperInstance?.forceUpdate();
  });
  resizeObserver.value?.observe(content.value);
};

const init = () => {
  if (attrs.value?.flipOnUpdate || props.hasOverflow) {
    updateWhenChangeRefSize();
  }

  if (props.isDisabled) {
    tippy.value?.tippy?.disable();
  }
};

onMounted(() => init());
onBeforeUnmount(() => {
  resizeObserver.value?.unobserve(content.value);
  resizeObserver.value = null;
});
</script>

<style lang="scss">
@import 'tippy.js/themes/translucent.css';

.tippy-box[data-theme='dark'] .tippy-content {
  padding: 0;
}

.tippy-content {
  white-space: pre-line;
}
</style>
