<template>
  <Select :items="items" @select="select" :isShowSelectedIcon="false">
    <template #trigger>
      <img src="@/assets/icons/table.svg" alt="cell" class="cell-selector__arrow" />
    </template>
  </Select>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const select = (item: (typeof items)[number]) => {
  item.command();
};

const items = [
  {
    name: 'Merge cells',
    icon: 'merge-cells',
    command: () => props.editor.chain().focus().mergeCells().run(),
    disabled: () => !props.editor.can().mergeCells(),
  },
  {
    name: 'Split cells',
    icon: 'split-cells',
    command: () => props.editor.chain().focus().splitCell().run(),
    disabled: () => !props.editor.can().splitCell(),
  },
];
</script>

<style scoped lang="scss">
.cell-selector {
  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
}
</style>
