<template>
  <Select :items="HIGHLIGHT_COLORS" :itemSelected="activeItem" class="cell-color-selector">
    <template #trigger>
      <img src="@/assets/icons/paint.svg" alt="paint" class="cell-color-selector__arrow" />
    </template>
    <template #default>
      <form class="cell-color-selector__list">
        <div
          v-for="(item, index) in HIGHLIGHT_COLORS"
          :key="index"
          class="cell-color-selector__item"
          @click.stop="changeColor(item)"
        >
          <div class="cell-color-selector__item-wrapper">
            <div class="cell-color-selector__icon" :style="{ backgroundColor: item.color }"></div>
            <span>{{ item.name }}</span>
          </div>
          <img
            v-if="activeItem?.name === item.name"
            src="@/assets/icons/choice.svg"
            alt="choice"
            class="cell-color-selector__item-check"
          />
        </div>
      </form>
    </template>
  </Select>
</template>

<script setup lang="ts">
import { ref, PropType } from 'vue';
import { Editor } from '@tiptap/core';
import { HIGHLIGHT_COLORS } from '@/constants/colorSelector';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const activeItem = ref(
  HIGHLIGHT_COLORS.find((item) => item.color === props.editor?.getAttributes('tableCell').backgroundColor) ??
    HIGHLIGHT_COLORS[0],
);

const changeColor = (item: (typeof HIGHLIGHT_COLORS)[number]) => {
  activeItem.value = item;
  props.editor.chain().focus().setCellAttribute('backgroundColor', item.color).run();
};
</script>

<style scoped lang="scss">
.cell-color-selector {
  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__list {
    height: auto;
    width: 140px;
    border-radius: 4px;
    border: 1px solid $color-grey-lighter;
    background-color: $color-default-lighter;
    box-shadow: $box-shadow-light;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-grey-lightest;
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid $color-grey-lighter;
  }

  &__item-check {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 8px;
  }
}
</style>
