<template>
  <Select :items="items" @select="select" :isShowSelectedIcon="false">
    <template #trigger>
      <img src="@/assets/icons/layout-column-fill.svg" alt="column" class="column-selector__arrow" />
    </template>
  </Select>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const select = (item: (typeof items)[number]) => {
  item.command();
};

const items = [
  {
    name: 'Insert column before',
    icon: 'insert-column-left',
    command: () => props.editor.chain().focus().addColumnBefore().run(),
  },
  {
    name: 'Insert column after',
    icon: 'insert-column-right',
    command: () => props.editor.chain().focus().addColumnAfter().run(),
  },
  {
    name: 'Delete column',
    icon: 'delete-column',
    command: () => props.editor.chain().focus().deleteColumn().run(),
  },
];
</script>

<style scoped lang="scss">
.column-selector {
  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
}
</style>
