<template>
  <Select :items="items" @select="select" :isShowSelectedIcon="false">
    <template #trigger>
      <img src="@/assets/icons/layout-row-fill.svg" alt="row" class="row-selector__arrow" />
    </template>
  </Select>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import Select from '@/components/common/Select.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const select = (item: (typeof items)[number]) => {
  item.command();
};

const items = [
  {
    name: 'Insert row before',
    icon: 'insert-row-top',
    command: () => props.editor.chain().focus().addRowBefore().run(),
  },
  {
    name: 'Insert row after',
    icon: 'insert-row-bottom',
    command: () => props.editor.chain().focus().addRowAfter().run(),
  },
  {
    name: 'Delete row',
    icon: 'delete-row',
    command: () => props.editor.chain().focus().deleteRow().run(),
  },
];
</script>

<style scoped lang="scss">
.row-selector {
  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
}
</style>
