<template>
  <div class="table-bubble-menu">
    <ColumnSelector :editor="editor" />
    <RowSelector :editor="editor" />
    <CellSelector :editor="editor" />
    <CellColorSelector :editor="editor" />
    <div v-for="item in items" :key="item.name" @click.stop="item.command()" class="table-bubble-menu__item">
      <img :src="getIconPath(item.icon)" :alt="item.icon" class="table-bubble-menu__item-icon" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { Editor } from '@tiptap/core';
import { getIconPath } from '@/utils/IconHelper';
import ColumnSelector from './ColumnSelector.vue';
import RowSelector from './RowSelector.vue';
import CellSelector from './CellSelector.vue';
import CellColorSelector from './CellColorSelector.vue';

const props = defineProps({
  editor: {
    type: Object as PropType<Editor>,
    required: true,
  },
});

const items = [
  {
    name: 'toggle header',
    command: () => props.editor.chain().focus().toggleHeaderRow().run(),
    icon: 'table-header',
  },
  {
    name: 'toggle column',
    command: () => props.editor.chain().focus().toggleHeaderColumn().run(),
    icon: 'table-header',
  },
  {
    name: 'delete',
    command: () => props.editor.chain().focus().deleteTable().run(),
    icon: 'delete',
  },
];
</script>

<style scoped lang="scss">
.table-bubble-menu {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.2rem;
    color: $color-grey-darkest;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-grey-lightest;
    }

    &:active {
      background-color: $color-grey-lighter;
    }
  }

  &__item-icon {
    width: 1.5rem;
    height: 1.5rem;

    &_selected {
      color: #3b82f6;
    }
  }
}
</style>
